<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>Menu</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a href="#"><i class="icon-font">&#xe003;</i>Action</a>
                    <ul class="sub-menu">
                        <li><a href="/action/startask"><i class="icon-font">&#xe008;</i>Task Distribute</a></li>
                        <li><a href="/action/showtask"><i class="icon-font">&#xe005;</i>Task Status</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/settings"><i class="icon-font">&#xe018;</i>Settings</a>
                    <ul class="sub-menu">
                        <li><a href="/settings"><i class="icon-font">&#xe037;</i>Settings info</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>