<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>Menu</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a href="#"><i class="icon-font">&#xe003;</i>Action</a>
                    <ul class="sub-menu">
                        <li><a href="/action/startask"><i class="icon-font">&#xe008;</i>Task Distribute</a></li>
                        <li><a href="/action/status"><i class="icon-font">&#xe005;</i>Task Status</a></li>
                         <!--
                        <li><a href="design.html"><i class="icon-font">&#xe006;</i>分类管理</a></li>
                        <li><a href="design.html"><i class="icon-font">&#xe004;</i>留言管理</a></li>
                        <li><a href="design.html"><i class="icon-font">&#xe012;</i>评论管理</a></li>
                        <li><a href="design.html"><i class="icon-font">&#xe052;</i>友情链接</a></li>
                        <li><a href="design.html"><i class="icon-font">&#xe033;</i>广告管理</a></li> -->
                    </ul>
                </li>
                <li>
                    <a href="/settings"><i class="icon-font">&#xe018;</i>Settings</a>
                    <ul class="sub-menu">
                        <li><a href="/settings"><i class="icon-font">&#xe037;</i>Settings info</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>