{% include "header.html" %}

{% include "left.html" %}
<!--/sidebar-->
<script type="text/javascript">
    setInterval(function(){
        ajaxGetjson($('#status'));
    }, 3000);
</script>
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/index">HOME</a><span class="crumb-step">&gt;</span><span class="crumb-name">TASK Distribute</span></div>
        </div>
        <div class="result-wrap">
                <div class="config-items">
                    <div class="config-title">
                        <h1><i class="icon-font">&#xe00a;</i>Site information</h1>
                    </div>
                <div class="result-content" style="height:570px;width:1024px; overflow:auto">
                    <div id="showlog">
{#                    <input id="Button1" type="button" value="点击弹出层" onclick="ShowDiv('MyDiv','fade')" />#}
                    <!--弹出层时背景层DIV-->
                    <div id="shows" class="black_overlay">
                    </div>
                    <div id="hides" class="white_content">
                        <div style="text-align: right; cursor: default; height: 40px;">
                            <br />
                            <span style="font-size: 16px;" onclick="CloseDiv('hides','shows')">关闭</span>
                        </div>
                        遮罩层。
                    </div>
                    </div>
                    <span><button class="minimal" onclick="STOPTASK()">STOPALL</button></span>
                    <span><label>All Task Number: <strong id="tasknum">0</strong></label></span>
                    <div id="status">

                   </div>
                </div>
               </div>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>