{% include "header.html" %}

{% include "left.html" %}
<!--/sidebar-->
<script type="text/javascript">
    $().ready(function(){
        var timer;
{#        AppendChildStatus(data, $('#status'));#}
    });
    setInterval(function(){
        ajaxGetjson($('#status'));
    }, 3000);

</script>
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/index">HOME</a><span class="crumb-step">&gt;</span><span class="crumb-name">TASK Distribute</span></div>
        </div>
        <div class="result-wrap">
                <div class="config-items">
                    <div class="config-title">
                        <h1><i class="icon-font">&#xe00a;</i>Site information</h1>
                    </div>
                <div class="result-content" style="height:570px;width:1024px; overflow:auto">
                    <div id="status">
                        <span><button class="minimal" onclick="STOPALL()">STOPALL</button></span>
                        <span><label>All Task Number: <strong id="tasknum">0</strong></label></span>
                   </div>
                </div>
               </div>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>