{% include "header.html" %}

{% include "left.html" %}
<!--/sidebar-->
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/index">HOME</a><span class="crumb-step">&gt;</span><span class="crumb-name">TASK Distribute</span></div>
        </div>
        <div class="result-wrap">
            <form action="/think/admin/system/save" method="post" id="myform" name="myform">
                <div class="config-items">
                    <div class="config-title">
                        <h1><i class="icon-font">&#xe00a;</i>Site information</h1>
                    </div>
                    <div class="result-content">
                        <table width="100%" class="insert-tab">
                            <tbody><tr>
                                <th width="15%"><i class="require-red">*</i>Domain: </th>
                                <td><input type="text" id="" value="http://www.evalshell.com" size="85" name="keywords" class="common-text"></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input type="submit" value="FUCK It" class="btn btn-primary btn6 mr10">
                                    <input type="button" value="BACK" onclick="history.go(-1)" class="btn btn6">
                                </td>
                            </tr>
                            </tbody></table>
                    </div>
                </div>
               
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>